<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite">
    <test name="Test1">
        <classes>
            <class name="LogIn"/>
            <class name="IncorrectLogin"/>
            <class name="Logout"/>
            <class name="cart"/>
            <class name="DropDownMenu"/>
            <class name="ShoppingCartJava"/>
            <class name="UserIsRequired"/>
            <class name="RemoveItem"/>
            <class name="BurgerButton"/>
            <class name="FacebookIcon"/>

        </classes>
    </test>
</suite>